@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #282828;
  }



  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #353535;
    border-radius: 8px;
  }